body {
    padding: 0;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-color: #000;
    color: #FFF;
    padding: 0 15px 0 15px;
    height: 60px;
}

header img {
    float: right;
    height: 60px;
}

header h1 {
    float: left;
    margin: 0;
    position: relative;
    top: 11px;
}

.status {
    padding: 10px 15px 10px 15px;
}

.container {
    padding: 0 10px 0 10px;
}

.pure-table {
    width: 100%;
}

.level {
    font-weight: bold;
}

.level--debug {
    color: blue;
}

.level--info {
    color: green;
}

.level--warning {
    color: orange;
}

.level--error {
    color: red;
}